<html>
<head>
	<title>Mongo DB Activity</title>
	<link rel="stylesheet" type="text/css" href="crudStyle.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
	<center><h1>Mongo Db Activity - April 22, 2019</h1>
	<i><h3>Using CRUD Operations</h3></i></center>

	<div class="RegForm">
		<center><form method="post" action="/submitForm">
			<label> Full Name </label>
			<input type="text" id="nameForm" required>
			<input type="button" value="Submit" id="register">
			<input type="button" value="See List" id="WALA PAKO KABALO">
		</form></center>
	</div>
</body>
</html>